@font-face{
    font-family: polentical;
    src:url(../font/polentical_neon/polentical_neon_regular.ttf);  
}

html{
    font-family: polentical; 
    font-size: 1em;
    color: white;
}

body{
    background-color: black;
}

#Nav{
    z-index: 1;
    padding:(0,0,0,0);
    width: 100%;
    height: 5%;  
    background-color: #818181   
}

#Nav ul li a{
      text-align: center;
      color:azure;
}

#Nav li{
    text-align:center;
}

#Nav li:hover{ 
background-color: aliceblue;
transition:0.5s;
}

#Nav ul li:active{
    color:azure;
}

.image-holder{
    padding-right: 20px;
}



ul{    
    list-style:none;  
}

#Background{
    z-index: 0;
    color: aqua;   
    height: 52vw;
    width: 90%;
}

li {
    display: inline; 
    color: white;
}

a {
    padding: 8px;
    text-decoration: none;
}

.Albums{
    height:100%;
    width:15px;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: darkgrey;
    overflow-x: hidden;
    padding:0px;
    transition: 0.5s;
}

.Albums a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: Polentical;
}

.Albums:hover{
    background-color: aliceblue;
    width: 20px;
    transition: 0.5s;
}

.Albums ul{
    padding:20px;
}

.Albums li{
    width:100%;
    text-align:center;
}
.price{
    width:220px;
    text-align:center;
    color:azure;
}

.price:active{
 color:azure;
}

.Scrollbar{
z-index: 2;
}



#Footer{
    height:5%;
    width: 100vw;
    z-index: 1;
    position: relative;   
}

#Footer li:hover{
    background-color: aliceblue;
    transition:0.5s;
}

#Footer li a{
    color:azure;
}

#Footer li a:active{
    color:azure;
}

.cart{
    float:right;
    position:relative;
    width:300px;
    height:700px;
    background:#ccc;
    padding:0px 10px;
}
.ctitle{
    text-align:center;
    color:#555;
    font-size:18px;
    padding:10px;
}

.products{
    display:inline-block;   
}

.item{
    display:block;
    text-decoration:none;
}

#cartholder{
    padding-top: 50px;
}
